.cards {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.card_item {
  margin: 5px;
  padding: 16px 4px 24px;
  box-sizing: border-box;
  border: 3px solid white;
}
.card_item:hover {
  /* box-sizing: border-box; */
  box-shadow: 0px 0px 3px 3px rgb(182, 180, 180);
  border-radius: 6px;
}
.text {
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
}
.img {
  width: 132px;
  height: 78px;
}
