#mySearch {
  height: 48px;
  width: 521px;
}
#searchBar {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.description {
  display: flex;
  /* justify-content: flex-end; */
}
.myLink {
  /* color: rgb(2, 230, 247); */
  font-size: 16px;
  font-weight: 600;
}
